/**
 * Created by gmt on 6/24/2019.
 */

.THIS .slds-timeline__icon{
    background: white;
}
.THIS.slds-timeline__item_expandable.slds-is-open .slds-timeline__details-action-icon {
    transform: rotate(0);
    transform-origin: 45%;
}
.THIS .time-range-arrow-icon{
    top: -2px;
    position: relative;
}