/**
 * Created by gmt on 2019-06-28.
 */


.THIS.backgroundInverse {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 100;
    opacity: .8;
    top: 0;
    left: 0;
}