/**
 * Created by gmt on 2019-06-15.
 */

.THIS .cursor{
    cursor: pointer;
}
.THIS .icon{
    float: left;
    margin-right: 5px;
    font-size: 1.4em;
    margin-top: 0px;
}
.THIS .card-title{
    line-height: 1.6em;
    font-size: 1rem;
    vertical-align: bottom;
}
.THIS .cursor .titleText{
    color:token(colorTextLink);
}
.THIS .cursor .titleText.red{
    color:token(colorTextError);
}